@import "reset.less";
@red: #c61111;
@black: #1c1c1c;
@sans: "Roboto Condensed", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
@serif: "Times New Roman", seif;

h1 {
    font-family: @sans;
    color: @red;
    background-color: @black;
    font-size: 40pt;
    text-align: center;
    padding: 80px 10px 20px 10px;
    z-index: 100;
    position: relative;
}

a {
    color: @red;
}

.node-container {
    height: 100vh;
    display: grid;
    // flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .text-container {
        z-index: 101;
        color: @red;
        position: relative;
        display: flex;
    }
    h2 {
        font-size: 24pt;
        font-family: @sans;
        text-align: center;
        margin-top: 100px;
        width: 100%;
        flex-grow: 1;
    }
    p, h2 {
        z-index: 100;
        color: @red;
        flex: 1 1 160px;
    }
    p.value {
        font-size: 24pt;
        font-family: @serif;
        text-align: center;
        margin-top: 100px;
        width: 100%;
        flex-grow: 1;
    }

    p.description {
        font-size: 12pt;
        font-family: @serif;
        flex-grow: 1;
        text-align: center;
        width: 100%;
        margin: 0px 20px;
        max-width: 260px;
        background-color: rgba(255,255,255,1);
        padding: 20px;
        border: 6px @black solid;
        justify-self: center;
    }
}
.node, #master_node {
    height: 100vh;
    background-color: @black;
    position: absolute;
    min-width: 1px;
}

#master_node_container {
    position: fixed;
    top: 0px;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

#master_node {
    transition-property: "width";
    transition-duration: 2s;
    transition-timing-function: ease;
    
}

.break {
    flex-basis: 100%;
    height: 0;
}

footer {
    font-size: 9pt;
    color: @black;
    font-family: @sans;
    padding: 60px 20px 30px 20px;
    text-align: center;
    border-top: 6px @black solid;
    background-color: white;
    position: relative;
    z-index: 1001;
}
