/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 {
  font-family: "Roboto Condensed", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #c61111;
  background-color: #1c1c1c;
  font-size: 40pt;
  text-align: center;
  padding: 80px 10px 20px 10px;
  z-index: 100;
  position: relative;
}
a {
  color: #c61111;
}
.node-container {
  height: 100vh;
  display: grid;
  align-items: center;
  justify-content: center;
}
.node-container .text-container {
  z-index: 101;
  color: #c61111;
  position: relative;
  display: flex;
}
.node-container h2 {
  font-size: 24pt;
  font-family: "Roboto Condensed", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  flex-grow: 1;
}
.node-container p,
.node-container h2 {
  z-index: 100;
  color: #c61111;
  flex: 1 1 160px;
}
.node-container p.value {
  font-size: 24pt;
  font-family: "Times New Roman", seif;
  text-align: center;
  margin-top: 100px;
  width: 100%;
  flex-grow: 1;
}
.node-container p.description {
  font-size: 12pt;
  font-family: "Times New Roman", seif;
  flex-grow: 1;
  text-align: center;
  width: 100%;
  margin: 0px 20px;
  max-width: 260px;
  background-color: #ffffff;
  padding: 20px;
  border: 6px #1c1c1c solid;
  justify-self: center;
}
.node,
#master_node {
  height: 100vh;
  background-color: #1c1c1c;
  position: absolute;
  min-width: 1px;
}
#master_node_container {
  position: fixed;
  top: 0px;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
#master_node {
  transition-property: "width";
  transition-duration: 2s;
  transition-timing-function: ease;
}
.break {
  flex-basis: 100%;
  height: 0;
}
footer {
  font-size: 9pt;
  color: #1c1c1c;
  font-family: "Roboto Condensed", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 60px 20px 30px 20px;
  text-align: center;
  border-top: 6px #1c1c1c solid;
  background-color: white;
  position: relative;
  z-index: 1001;
}


/*# sourceMappingURL=style.css.map*/